// Todo : src/styles/partials/_variables.scss
// Variables
$deep-night: #0D0D0D;
$dark-blue: #121212;
$warm-gold: #FFD580;
$amber-light: #FFCA28;
$soft-gray: #e0e0e0;

$title-font: 'Cinzel', serif;
$text-font: 'Inter', sans-serif;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;